.App {
  text-align: center;
}
body{
  background-image: url(https://source.unsplash.com/random/1920x1080/?night,mountains,stars);
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-size: xx-large;
  color: var(--text-color);
}
input {
  padding: 1rem;
  width: 30rem;
  height: 3rem;
  color: var(--text-color);
  font-size: 3rem;
}
input, input:hover, input:focus, input:active {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.25rem solid var(--text-color);
}
.quote{
  font-size: 55%;
}
.quote-container{
  margin-top: 5rem;
}
.edit-btn,.firefox-btn{
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  font-size: 1.5rem;
  font-family: 'Lexend', sans-serif;
  padding: 5 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.weather{
  display: flex;
  align-items: center;
}
.weatherIcon{
  margin-left: auto;
}
.weatherAndClock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}